@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }

  body {
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
  }
}

@layer utilities {
  .safe-top {
    padding-top: max(1rem, env(safe-area-inset-top));
  }
  .safe-bottom {
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
  }
}
